@use "../../styles/colors";

.container {
    background: #E5E5E5;
}
.chartContainer {
    background-color: white;
    border-radius: 20px;
}

.title {
    display: inline-block;
    margin-bottom: 14.7px;
    margin-right: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #181C24;  
}

.cardSelect {
    display: inline-block;
    width: 220px;
    height: 50px;
    border-radius: 30px;
    font-size: 16px;
    margin-left: 510px !important;
    margin-bottom: 14px !important;
  }
  
  .inputLabel {
    height: 50px;
    color: #7441F3 !important;
  }

  .select {
    display: inline-block;
    font-size: 16px !important;
    background-color: rgba(116, 65, 243, 0.07);
    border-radius: 30px;
    
  }

.chartLine {
    line-height: 15px;
    color: #DF54A7;
}

.area {
    background: linear-gradient(180deg, #DF54A7 0%, rgba(236, 105, 84, 0) 100%);
    opacity: 0.3;
}