@use "../../styles/colors";

.container {
    width: 803px;
    height: 389px;
    padding: 35px 30px 39px 45px;
}

.box {
    width: 487px;
    height: 315px;
    border-radius: 20px;
}

.cameras-container {
    width: 210px;
    height: 389px;
    border-radius: 10px;
    z-index: 1;  
}

.button {
    position: relative;
    width: 210px;
    height: 90px;
}

.item {  
    margin: 3px;
    position: relative;
    width: 97px;
    height: 90px;
    border-radius: 20px;
    overflow: hidden;
}

.border {
    border: solid 2px #7441f3;
 }