@use "../../styles/colors";

.weather-wrapper {
    padding: 54px;
    background-color: colors.$text_primary;
}

.image {
    width: 100%;
    height: 100px;
}

.header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 18px;
    color: colors.$primary_main;
}

.degrees {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 60px !important;
    line-height: 70px;
    color: #181C24;
}