@use "../../styles/colors";

.card {
    width: 243px;
    height: 183px;
    background: rgba(116, 65, 243, 0.07);
    border-radius: 20px;
}

.border {
   border: solid 2px #7441f3;
   border-radius: 20px;
}