@use "../../styles/colors";

.card {
    width: 243px;
    height: 183px;
    background: rgba(116, 65, 243, 0.07);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.border {
   border: solid 2px #7441f3;
   border-radius: 20px;
}

.text{
    padding: 15px;
    text-transform: uppercase;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
}