@use "../../styles/colors";

.card {
    width: 243px;
    height: 183px;
    background: colors.$secondary_main_translucent !important;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: rgb(239, 235, 248);
}

.colored{
    background: #EB675C !important;
    opacity: 0.1 !important;
    fill: #EB675C;
}

.status {
    width: 25px;
    height: 24px;
    background: #EB675C !important;
    color: white;
    border-radius: 7px;
    position: absolute;
    left: 80%;
    top: 10%;
}

.border {
   border: solid 2px colors.$primary_main;
   border-radius: 20px;
}

.text{
    margin-top: 25px;
    padding: 15px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}